@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Layout_Admin.cshtml";
}

<h2>Админка</h2>
<div class="right">

    Админка
            
</div>

<div class="left">                     
    <h2>Действия</h2> 
    Админка
@*    <ul>
        <li>@Html.ActionLink("Проверить неопубликованные предложения", "UserCertificates", "Admin")</li>
        <li>@Html.ActionLink("Активация", "Activation", "Default")</li>
        <li>@Html.ActionLink("Кошелёк", "UserPurse", "Default")</li>
        <li>@Html.ActionLink("Выход", "LogOut", "Account")</li> 
    </ul>  *@                              
</div>