<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BarterMarket;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>