<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="pr-money.com" userName="info@pr-money.com" password="K#7sd4Na" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Enabled" value="false" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <globalization uiCulture="ru" culture="ru-RU" />
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LoginFailed" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--
      <add name="DataModule" type="BarterMarket.Core.DataModule" />
      -->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=u0709073_BM;User ID=u0709073_BM;Password=Genby12!;&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModelTest.Model1.csdl|res://*/DataModelTest.Model1.ssdl|res://*/DataModelTest.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=BarterMarket;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=BarterMarket;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\(localhost);Initial Catalog=u0709073_VG;User ID=u0709073_VG;Password=Genby12!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Persist Security Info=True;TRUSTED_CONNECTION = TRUE&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localhost);Initial Catalog=u0709073_VG;User ID=u0709073_VG;Password=Genby12!&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=u0709073.plsk.regruhosting.ru;Integrated Security=False;User ID=u0709073_VG;Password=Genby12!&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROOM33-7;initial catalog=BarterMarket;User ID=inouser;Password=BarterMarket;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModel.BarterMarket.csdl|res://*/DataModel.BarterMarket.ssdl|res://*/DataModel.BarterMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ROOM33-7;Initial Catalog=BarterMarket;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" 
         connectionString="metadata=res://*/Models.Test.csdl|res://*/Models.Test.ssdl|res://*/Models.Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROOM33-5\SQLEXPRESS;initial catalog=BarterMarket;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketEntities" connectionString="metadata=res://*/DataModelTest.Model1.csdl|res://*/DataModelTest.Model1.ssdl|res://*/DataModelTest.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BarterMarket;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketDB"
        connectionString="metadata=res://*/Models.Test.csdl|res://*/Models.Test.ssdl|res://*/Models.Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROOM33-5\SQLEXPRESS;initial catalog=BarterMarket;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BarterMarketDB" connectionString="data source=ROOM33-5\SQLEXPRESS;initial catalog=BarterMarket;integrated security=True;multipleactiveresultsets=True;Trusted_Connection=False;Persist Security Info=True;"
               providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {5D245DD2-B575-47E5-83DA-D20900778EB2}-->