@model BarterMarket.Models.AboutModel

@{
    ViewBag.Title = "О нас | PR Money Market";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";    
}

<div class="container resume">
    <h2>Рекламное агенство "Пиар Маркет"</h2>
</div>

<div class="video container resume">    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kPK11Uzg0iY?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>