@model BarterMarket.Models.RulesModel

@{
    ViewBag.Title = "Правила сайта | PR Money Market";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<div class="container resume">
  <h2>Правила сайта</h2>v
  <p>PR MONEY МARKET — это площадка для пиара Вас, Ваших услуг и товаров.</p>
    <p> 1. Вы регистрируетесь на Сайте, Вам создаётся личный кабинет с логином и паролем. 
        Далее, Вы размещаете в своем личном кабинете предложение о продаже товара или услуги по рабочему прайсу. </p>

    <p>2. За размещение Вами предложения о продаже товара или услуги, мы начисляем Вам поощрение, выраженное в валюте платформы ("пиарах"), на Ваш счет в личном кабинете. 
Вы сразу можете использовать пиары для приобретения интересующих Вас товаров и услуг на Сайте. </p>
        
    <p>3. Когда у вас кто-то покупает сертификат, покупатель приходит к Вам с уникальным кодом. 
После того как Вы активируете этот код у себя в личном кабинете от Вас будут ожидать выполнение обязательств. Относитесь к сертификату со всей серьёзностью и ответственностью. 
Пиары – это бонусные рубли. 1 пиар = 1 рублю национальной валюты РФ. Бонусные рубли не являются денежными средствами, а являются отложенной скидкой на оплаты товаров или услуг на Сайте. 
Бонусная валюта может быть использована только для оплаты на Сайте. </p>
        
    <p>4. Осуществлять вывод данных денежных средств в качестве возврата Вы не вправе.</p>
</div>